<html>
<body>
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/springy.js"></script>
    <script src="/static/springyui.js"></script>
    <script src="/static/traceroute-graph.js"></script>

    <input type="text" id="target"><button id="query-btn">Query</button><br>
    <canvas id="springydemo" width="640" height="480" style="border:1px solid #000000;"></canvas><br>
    purple: starting router, green: final destination, yellow: request timeout
    <ul id="logs">
    </ul>
</body>
</html>
